<section class="userposts">
  <div>
    <h1>{{post_title}}</h1>
    <a href="/post/{{id}}">{{post_content}}</a> <br> 
    <p>{{format_date post_date}}</p> <a class="btn" href="/post/dashboard/{{id}}">Edit</a>
  </div>
</section>