<section class="card">
  <a href="/users/{{id}}">
    <header>Post By: {{username}}</header>
  </a>
  <a href="/posts/{{id}}">
    <div>
      <p>{{posts.[0].post_content}}</p>
      <p>{{format_date posts.[0].post_date}}</p>
    </div>
  </a>
</section>