<section class="card">
  <header>Posted By: <a href="/user/{{id}}">{{username}}</a></header>
  
    <div>
      <a href="/post/{{id}}">
        <p>{{posts.[0].post_content}}</p>
      </a>
      <p>{{format_date posts.[0].post_date}}</p>
    </div>
</section>