<section class="card">
  <header>Posted By: <a href="/user/{{id}}">{{username}}</a></header>
  
    <div>
      <a href="/post/{{id}}">
      <h1>{{posts.[0].post_title}}</h1>
        <p>{{posts.[0].post_content}}</p>
      </a>
      <p class="date">{{format_date posts.[0].post_date}}</p>
    </div>
</section>